/* For the whole page. Black background and white font */
body{
    padding: 25px;
    color: snow;
    background-color: #181818;

}

nav {
    border-radius: 10px;
    background-color: #212121 !important;

}


.div-primary {
border-color: rgb(190, 0, 190) !important;
border-radius: 15px;

  color: white;
}

/* The arrow of the language selector  */
.text-btn:hover {
    color: #000 !important;
}


.btn-primary {
background-color: rgb(120, 0, 120) !important;
border-color: rgb(190, 0, 190) !important;
  color: white;
}

    .btn-primary:hover {
    background-color: rgb(110, 0, 110) !important;
    border-color: rgb(190, 0, 190) !important;
    color: white;
    }

a{
    text-decoration: none;
}
    a:hover{
        text-decoration: underline;
    }