/* For the whole page. Black background and white font */
body{
    padding: 25px;
    color: snow;
    background-color: #212121;
}

nav {
    border-radius: 10px;
}

/* The whole card body of the form  */
.card-body {
    background-color: #333;
    color: snow;
    border: 2px solid rgb(120, 0, 120);
    padding: 20px;
    border-radius: 15px;
    max-width: 650px;
    margin: auto;
}

    /* For each group of the container, this is every input  */
    .form-group {
        margin-bottom: 35px ;
    }


/* The arrow of the language selector  */
.text-btn:hover {
    color: #000 !important;
}


.btn-primary {
background-color: rgb(120, 0, 120) !important;
border-color: rgb(190, 0, 190) !important;
  color: white;
}

.btn-primary:hover {
  background-color: rgb(110, 0, 110) !important;
  border-color: rgb(190, 0, 190) !important;
  color: white;
}


a{
    text-decoration: none;
}
    a:hover{
        text-decoration: underline;
    }